<h1>User: <%= @user.username %></h1>

<h3><%=@user.username%> has commented on the following posts: </h3>
<ul>
  <% @user.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>
