<h1>Category: <%=@category.name %></h1>

<h3>The following posts are in this category: </h3>

<ul>
  <% @category.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>
